@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family-default);
}

:root {
    --primary-color: rgb(240, 140, 140); /* Rosa principal */
    --secondary-color: rgb(254, 188, 189); /* Rosa claro */
    --background-color: rgb(240, 236, 225); /* Bege claro */
    --accent-color: rgb(200, 180, 160); /* Bege mais escuro ajustado */
    --neutral-color: rgb(239, 235, 224); /* Bege neutro */
    --text-primary: rgb(80, 80, 80); /* Cinza escuro para textos principais */
    --text-secondary: rgb(120, 120, 120); /* Cinza médio para textos secundários */
    --text-highlight: rgb(240, 140, 140); /* Rosa principal para chamar atenção */
    --text-light: rgb(255, 255, 255); /* Branco para textos sobre fundos escuros */
    --font-family-default: 'roboto', arial, helvetica, sans-serif;
  }

header {
    background-color: var(--secondary-color);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: auto;
}

body {
    background-color: var(--background-color);
    color: var(--text-primary);
}

footer {
    background-color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
    color: var(--text-primary);
}

i {
    font-size: 2rem;
}

/* DISPLAY */
.d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.d-block {
    display: block;
}

.d-none {
    display: none;
}

/* SPACING */
.p-middle {
    padding: .5rem;
}

.p-1 {
    padding: 1rem;
}

.mb-1 {
    margin-bottom: 1rem;
}

.mb-2 {
    margin-bottom: 2rem;
}

.mt-1 {
    margin-top: 1rem;
}

/* SIZING */
.h-4 {
    height: 9.375rem;
}

.h5 {
    height: 12.5rem;
}

.w-full {
    width: 100%;
}

/* BORDER */
.border-bottom {
    border-bottom: 1px solid black;
}

.border-top {
    border-top: 1px solid black;
}

.rounded {
    border-radius: 10px;
    overflow: hidden;
}

/* GRID */
.grid-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 1rem;
}

/* BACKGROUND */
.bg-secundary {
    background-color: var(--secondary-color);
}

/* TEXT */
.uppercase {
    text-transform: uppercase;
}

.text-center {
    text-align: center;
}

/* CUSTOM */
.container {
    width: 90%;
    margin: auto;
}

.whatsapp-div {
    background-color: #99C874;
}

.img-wpp {
    margin-right: 1rem;
}

.shadow {
    background-color: var(--primary-color);
}

.ingredients-list {
    list-style-image: url('../assets/icons/svg/check.svg');
}

.ingredients-list li, .coberturas-list li {
    max-width: 80%;
    padding: .5rem;
    margin: 1rem auto;
    border-bottom: solid 1px black;
}

.coberturas-list {
    list-style: url(../assets/icons/svg/cobertura.svg);
}

.logo {
    border-radius: 50%;
    height: 3.5rem;
    width: 3.5rem;
    overflow: hidden;
    border: 1px solid black;
}

.icon {
    height: 3.5rem;
    width: 3.5rem;
}

.navOptions {
    background-color: var(--secondary-color);
}
